.container{
    background-color: #b30000;
    max-width: fit-content;
    margin-left: 35%;
    margin-right: auto;
    margin-top:10%;
    height:400px;
    width:400px;
    padding-top:50px;
    padding-left:100px;
    padding-right:100px;
    border-radius: 20px;
    z-index: 10;
    position:absolute;
}

.titleTF{
    margin-bottom: 20px;
    width: 300px;
    height: 30px;
    padding-left:10px;
    font-size:15px;
    background-color: black;
    color:white;

}

.postBody{
    margin-bottom:20px;
    resize: none;
    height:200px;
    width: 300px;
    font-size:15px;
    padding-left:10px;
    background-color: black;
    color:white;
}

.postButton{
    border-radius:20px;
    border:2px solid black;
    height:50px;
    width: 150px;
    font-size: 15px;
    margin-left:20%;
    background-color: black;
    color:red;
}