.container{
    background-color: aliceblue;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top:20%;
    height:400px;
    width:400px;
    padding-top:50px;
    padding-left:200px;
    padding-right:200px;
    border-radius: 20px;
}

.titleTF{
    margin-bottom: 20px;
}

.postBody{
    margin-bottom:20px;
    resize: none;
    height:70px;
}

.postButton{
    border-radius:20px;
    border:2px solid azure;
    height:50px;
    width: 150px;
    font-size: 15px;
}